### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Android Studio ###
.idea/

### Local configuration file (sdk path) ###
local.properties

### Android Studio ###
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/markdown
!.idea/runConfigurations

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Android ###
/build/
.gradle/
captures/
.externalNativeBuild/
.cxx/
.idea/sonarlint/
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml

### Android App Generated ###
app/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Build artifacts ###
libpcap.so
pcap.h
log.txt
oui.txt

/mpvEx-master

/libpcap-1.10.6/ChmodBPF/ChmodBPF
/libpcap-1.10.6/ChmodBPF/StartupParameters.plist
/libpcap-1.10.6/cmake/Modules/FindAirPcap.cmake
/libpcap-1.10.6/cmake/Modules/FindDAG.cmake
/libpcap-1.10.6/cmake/Modules/Finddpdk.cmake
/libpcap-1.10.6/cmake/Modules/FindFseeko.cmake
/libpcap-1.10.6/cmake/Modules/FindLFS.cmake
/libpcap-1.10.6/cmake/Modules/FindPacket.cmake
/libpcap-1.10.6/cmake/Modules/FindSNF.cmake
/libpcap-1.10.6/cmake/Modules/FindTC.cmake
/libpcap-1.10.6/cmake/have_siocglifconf.c
/libpcap-1.10.6/doc/README.aix
/libpcap-1.10.6/doc/README.dag
/libpcap-1.10.6/doc/README.haiku.md
/libpcap-1.10.6/doc/README.hpux
/libpcap-1.10.6/doc/README.linux
/libpcap-1.10.6/doc/README.macos
/libpcap-1.10.6/doc/README.septel
/libpcap-1.10.6/doc/README.sita
/libpcap-1.10.6/doc/README.solaris.md
/libpcap-1.10.6/doc/README.windows.md
/libpcap-1.10.6/lbl/os-aix4.h
/libpcap-1.10.6/lbl/os-aix7.h
/libpcap-1.10.6/lbl/os-hpux11.h
/libpcap-1.10.6/lbl/os-osf4.h
/libpcap-1.10.6/lbl/os-osf5.h
/libpcap-1.10.6/lbl/os-solaris2.h
/libpcap-1.10.6/lbl/os-sunos4.h
/libpcap-1.10.6/lbl/os-ultrix4.h
/libpcap-1.10.6/missing/asprintf.c
/libpcap-1.10.6/missing/getopt.c
/libpcap-1.10.6/missing/getopt.h
/libpcap-1.10.6/missing/strlcat.c
/libpcap-1.10.6/missing/strlcpy.c
/libpcap-1.10.6/missing/strtok_r.c
/libpcap-1.10.6/missing/win_asprintf.c
/libpcap-1.10.6/msdos/bin2c.c
/libpcap-1.10.6/msdos/makefile
/libpcap-1.10.6/msdos/makefile.dj
/libpcap-1.10.6/msdos/makefile.wc
/libpcap-1.10.6/msdos/pkt_rx0.asm
/libpcap-1.10.6/msdos/pkt_rx1.s
/libpcap-1.10.6/msdos/pktdrvr.c
/libpcap-1.10.6/msdos/pktdrvr.h
/libpcap-1.10.6/msdos/readme.dos
/libpcap-1.10.6/pcap/bluetooth.h
/libpcap-1.10.6/pcap/bpf.h
/libpcap-1.10.6/pcap/can_socketcan.h
/libpcap-1.10.6/pcap/compiler-tests.h
/libpcap-1.10.6/pcap/dlt.h
/libpcap-1.10.6/pcap/funcattrs.h
/libpcap-1.10.6/pcap/ipnet.h
/libpcap-1.10.6/pcap/namedb.h
/libpcap-1.10.6/pcap/nflog.h
/libpcap-1.10.6/pcap/pcap.h
/libpcap-1.10.6/pcap/pcap-inttypes.h
/libpcap-1.10.6/pcap/sll.h
/libpcap-1.10.6/pcap/socket.h
/libpcap-1.10.6/pcap/usb.h
/libpcap-1.10.6/pcap/vlan.h
/libpcap-1.10.6/rpcapd/CMakeLists.txt
/libpcap-1.10.6/rpcapd/config_params.h
/libpcap-1.10.6/rpcapd/daemon.c
/libpcap-1.10.6/rpcapd/daemon.h
/libpcap-1.10.6/rpcapd/fileconf.c
/libpcap-1.10.6/rpcapd/fileconf.h
/libpcap-1.10.6/rpcapd/log.c
/libpcap-1.10.6/rpcapd/log.h
/libpcap-1.10.6/rpcapd/Makefile.in
/libpcap-1.10.6/rpcapd/org.tcpdump.rpcapd.plist
/libpcap-1.10.6/rpcapd/rpcapd.c
/libpcap-1.10.6/rpcapd/rpcapd.h
/libpcap-1.10.6/rpcapd/rpcapd.inetd.conf
/libpcap-1.10.6/rpcapd/rpcapd.manadmin.in
/libpcap-1.10.6/rpcapd/rpcapd.rc
/libpcap-1.10.6/rpcapd/rpcapd.socket
/libpcap-1.10.6/rpcapd/rpcapd.xinetd.conf
/libpcap-1.10.6/rpcapd/rpcapd@.service
/libpcap-1.10.6/rpcapd/rpcapd-config.manfile.in
/libpcap-1.10.6/rpcapd/win32-svc.c
/libpcap-1.10.6/rpcapd/win32-svc.h
/libpcap-1.10.6/testprogs/can_set_rfmon_test.c
/libpcap-1.10.6/testprogs/capturetest.c
/libpcap-1.10.6/testprogs/CMakeLists.txt
/libpcap-1.10.6/testprogs/filtertest.c
/libpcap-1.10.6/testprogs/findalldevstest.c
/libpcap-1.10.6/testprogs/findalldevstest-perf.c
/libpcap-1.10.6/testprogs/Makefile.in
/libpcap-1.10.6/testprogs/nonblocktest.c
/libpcap-1.10.6/testprogs/opentest.c
/libpcap-1.10.6/testprogs/reactivatetest.c
/libpcap-1.10.6/testprogs/selpolltest.c
/libpcap-1.10.6/testprogs/threadsignaltest.c
/libpcap-1.10.6/testprogs/unix.h
/libpcap-1.10.6/testprogs/valgrindtest.c
/libpcap-1.10.6/testprogs/versiontest.c
/libpcap-1.10.6/testprogs/visopts.py
/libpcap-1.10.6/testprogs/writecaptest.c
/libpcap-1.10.6/tests/pcap-invalid-version-1.pcap
/libpcap-1.10.6/tests/pcap-invalid-version-2.pcap
/libpcap-1.10.6/tests/pcapng-invalid-vers-1.pcapng
/libpcap-1.10.6/tests/pcapng-invalid-vers-2.pcapng
/libpcap-1.10.6/tests/shb-option-too-long.pcapng
/libpcap-1.10.6/aclocal.m4
/libpcap-1.10.6/arcnet.h
/libpcap-1.10.6/atmuni31.h
/libpcap-1.10.6/autogen.sh
/libpcap-1.10.6/bpf_dump.c
/libpcap-1.10.6/bpf_filter.c
/libpcap-1.10.6/bpf_image.c
/libpcap-1.10.6/CHANGES
/libpcap-1.10.6/charconv.c
/libpcap-1.10.6/charconv.h
/libpcap-1.10.6/chmod_bpf
/libpcap-1.10.6/cmake_uninstall.cmake.in
/libpcap-1.10.6/cmakeconfig.h.in
/libpcap-1.10.6/CMakeLists.txt
/libpcap-1.10.6/config.guess
/libpcap-1.10.6/config.h.in
/libpcap-1.10.6/config.sub
/libpcap-1.10.6/configure
/libpcap-1.10.6/configure.ac
/libpcap-1.10.6/CONTRIBUTING.md
/libpcap-1.10.6/CREDITS
/libpcap-1.10.6/diag-control.h
/libpcap-1.10.6/dlpisubs.c
/libpcap-1.10.6/dlpisubs.h
/libpcap-1.10.6/etherent.c
/libpcap-1.10.6/ethertype.h
/libpcap-1.10.6/extract.h
/libpcap-1.10.6/fad-getad.c
/libpcap-1.10.6/fad-gifc.c
/libpcap-1.10.6/fad-glifc.c
/libpcap-1.10.6/fmtutils.c
/libpcap-1.10.6/fmtutils.h
/libpcap-1.10.6/ftmacros.h
/libpcap-1.10.6/gencode.c
/libpcap-1.10.6/gencode.h
/libpcap-1.10.6/grammar.y.in
/libpcap-1.10.6/ieee80211.h
/libpcap-1.10.6/INSTALL.md
/libpcap-1.10.6/install-sh
/libpcap-1.10.6/instrument-functions.c
/libpcap-1.10.6/libpcap.pc.in
/libpcap-1.10.6/LICENSE
/libpcap-1.10.6/llc.h
/libpcap-1.10.6/Makefile.in
/libpcap-1.10.6/Makefile-devel-adds
/libpcap-1.10.6/mkdep
/libpcap-1.10.6/nametoaddr.c
/libpcap-1.10.6/nametoaddr.h
/libpcap-1.10.6/nlpid.h
/libpcap-1.10.6/nomkdep
/libpcap-1.10.6/optimize.c
/libpcap-1.10.6/optimize.h
/libpcap-1.10.6/org.tcpdump.chmod_bpf.plist
/libpcap-1.10.6/pcap.3pcap.in
/libpcap-1.10.6/pcap.c
/libpcap-1.10.6/pcap.h
/libpcap-1.10.6/pcap-airpcap.c
/libpcap-1.10.6/pcap-airpcap.h
/libpcap-1.10.6/pcap-bpf.c
/libpcap-1.10.6/pcap-bpf.h
/libpcap-1.10.6/pcap-bt-linux.c
/libpcap-1.10.6/pcap-bt-linux.h
/libpcap-1.10.6/pcap-bt-monitor-linux.c
/libpcap-1.10.6/pcap-bt-monitor-linux.h
/libpcap-1.10.6/pcap-common.c
/libpcap-1.10.6/pcap-common.h
/libpcap-1.10.6/pcap-config.1
/libpcap-1.10.6/pcap-config.in
/libpcap-1.10.6/pcap-dag.c
/libpcap-1.10.6/pcap-dag.h
/libpcap-1.10.6/pcap-dbus.c
/libpcap-1.10.6/pcap-dbus.h
/libpcap-1.10.6/pcap-dll.rc
/libpcap-1.10.6/pcap-dlpi.c
/libpcap-1.10.6/pcap-dos.c
/libpcap-1.10.6/pcap-dos.h
/libpcap-1.10.6/pcap-dpdk.c
/libpcap-1.10.6/pcap-dpdk.h
/libpcap-1.10.6/pcap-enet.c
/libpcap-1.10.6/pcap-filter.manmisc.in
/libpcap-1.10.6/pcap-haiku.c
/libpcap-1.10.6/pcap-int.h
/libpcap-1.10.6/pcap-libdlpi.c
/libpcap-1.10.6/pcap-linktype.manmisc.in
/libpcap-1.10.6/pcap-linux.c
/libpcap-1.10.6/pcap-namedb.h
/libpcap-1.10.6/pcap-netfilter-linux.c
/libpcap-1.10.6/pcap-netfilter-linux.h
/libpcap-1.10.6/pcap-netmap.c
/libpcap-1.10.6/pcap-netmap.h
/libpcap-1.10.6/pcap-new.c
/libpcap-1.10.6/pcap-nit.c
/libpcap-1.10.6/pcap-npf.c
/libpcap-1.10.6/pcap-null.c
/libpcap-1.10.6/pcap-pf.c
/libpcap-1.10.6/pcap-rdmasniff.c
/libpcap-1.10.6/pcap-rdmasniff.h
/libpcap-1.10.6/pcap-rpcap.c
/libpcap-1.10.6/pcap-rpcap.h
/libpcap-1.10.6/pcap-savefile.manfile.in
/libpcap-1.10.6/pcap-septel.c
/libpcap-1.10.6/pcap-septel.h
/libpcap-1.10.6/pcap-sita.c
/libpcap-1.10.6/pcap-sita.h
/libpcap-1.10.6/pcap-sita.html
/libpcap-1.10.6/pcap-snf.c
/libpcap-1.10.6/pcap-snf.h
/libpcap-1.10.6/pcap-snit.c
/libpcap-1.10.6/pcap-snoop.c
/libpcap-1.10.6/pcap-tc.c
/libpcap-1.10.6/pcap-tc.h
/libpcap-1.10.6/pcap-tstamp.manmisc.in
/libpcap-1.10.6/pcap-types.h
/libpcap-1.10.6/pcap-usb-linux.c
/libpcap-1.10.6/pcap-usb-linux.h
/libpcap-1.10.6/pcap-usb-linux-common.h
/libpcap-1.10.6/pcap-util.c
/libpcap-1.10.6/pcap-util.h
/libpcap-1.10.6/pcap_activate.3pcap
/libpcap-1.10.6/pcap_breakloop.3pcap
/libpcap-1.10.6/pcap_can_set_rfmon.3pcap
/libpcap-1.10.6/pcap_close.3pcap
/libpcap-1.10.6/pcap_compile.3pcap.in
/libpcap-1.10.6/pcap_create.3pcap
/libpcap-1.10.6/pcap_datalink.3pcap.in
/libpcap-1.10.6/pcap_datalink_name_to_val.3pcap
/libpcap-1.10.6/pcap_datalink_val_to_name.3pcap
/libpcap-1.10.6/pcap_dump.3pcap
/libpcap-1.10.6/pcap_dump_close.3pcap
/libpcap-1.10.6/pcap_dump_file.3pcap
/libpcap-1.10.6/pcap_dump_flush.3pcap
/libpcap-1.10.6/pcap_dump_ftell.3pcap
/libpcap-1.10.6/pcap_dump_open.3pcap.in
/libpcap-1.10.6/pcap_file.3pcap
/libpcap-1.10.6/pcap_fileno.3pcap
/libpcap-1.10.6/pcap_findalldevs.3pcap
/libpcap-1.10.6/pcap_freecode.3pcap
/libpcap-1.10.6/pcap_get_required_select_timeout.3pcap
/libpcap-1.10.6/pcap_get_selectable_fd.3pcap
/libpcap-1.10.6/pcap_get_tstamp_precision.3pcap.in
/libpcap-1.10.6/pcap_geterr.3pcap
/libpcap-1.10.6/pcap_init.3pcap
/libpcap-1.10.6/pcap_inject.3pcap
/libpcap-1.10.6/pcap_is_swapped.3pcap
/libpcap-1.10.6/pcap_lib_version.3pcap
/libpcap-1.10.6/pcap_list_datalinks.3pcap.in
/libpcap-1.10.6/pcap_list_tstamp_types.3pcap.in
/libpcap-1.10.6/pcap_lookupdev.3pcap
/libpcap-1.10.6/pcap_lookupnet.3pcap
/libpcap-1.10.6/pcap_loop.3pcap
/libpcap-1.10.6/pcap_major_version.3pcap
/libpcap-1.10.6/pcap_next_ex.3pcap
/libpcap-1.10.6/pcap_offline_filter.3pcap
/libpcap-1.10.6/pcap_open_dead.3pcap.in
/libpcap-1.10.6/pcap_open_live.3pcap
/libpcap-1.10.6/pcap_open_offline.3pcap.in
/libpcap-1.10.6/pcap_set_buffer_size.3pcap
/libpcap-1.10.6/pcap_set_datalink.3pcap
/libpcap-1.10.6/pcap_set_immediate_mode.3pcap.in
/libpcap-1.10.6/pcap_set_promisc.3pcap
/libpcap-1.10.6/pcap_set_protocol_linux.3pcap
/libpcap-1.10.6/pcap_set_rfmon.3pcap
/libpcap-1.10.6/pcap_set_snaplen.3pcap
/libpcap-1.10.6/pcap_set_timeout.3pcap
/libpcap-1.10.6/pcap_set_tstamp_precision.3pcap.in
/libpcap-1.10.6/pcap_set_tstamp_type.3pcap.in
/libpcap-1.10.6/pcap_setdirection.3pcap
/libpcap-1.10.6/pcap_setfilter.3pcap
/libpcap-1.10.6/pcap_setnonblock.3pcap
/libpcap-1.10.6/pcap_snapshot.3pcap
/libpcap-1.10.6/pcap_stats.3pcap
/libpcap-1.10.6/pcap_statustostr.3pcap
/libpcap-1.10.6/pcap_strerror.3pcap
/libpcap-1.10.6/pcap_tstamp_type_name_to_val.3pcap
/libpcap-1.10.6/pcap_tstamp_type_val_to_name.3pcap
/libpcap-1.10.6/pflog.h
/libpcap-1.10.6/portability.h
/libpcap-1.10.6/ppp.h
/libpcap-1.10.6/README.md
/libpcap-1.10.6/rpcap-protocol.c
/libpcap-1.10.6/rpcap-protocol.h
/libpcap-1.10.6/savefile.c
/libpcap-1.10.6/scanner.l
/libpcap-1.10.6/sf-pcap.c
/libpcap-1.10.6/sf-pcap.h
/libpcap-1.10.6/sf-pcapng.c
/libpcap-1.10.6/sf-pcapng.h
/libpcap-1.10.6/sockutils.c
/libpcap-1.10.6/sockutils.h
/libpcap-1.10.6/sslutils.c
/libpcap-1.10.6/sslutils.h
/libpcap-1.10.6/sunatmpos.h
/libpcap-1.10.6/thread-local.h
/libpcap-1.10.6/TODO
/libpcap-1.10.6/varattrs.h
/libpcap-1.10.6/VERSION
